
services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: carhero_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app:cached
    depends_on:
      - backend
    environment:
      VITE_API_URL: http://localhost:8000/api
      VITE_APP_NAME: TFG-CAR-HERO
      VITE_ENV: development
      VITE_PAGINATION_LIMIT: 10
    command: npm run dev -- --host

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: carhero_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - db
    environment:
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: db
      DB_USERNAME: user
      DB_PASSWORD: 12345?
    command: php artisan serve --host=0.0.0.0 --port=8000

  db:
    image: mysql:8.0
    container_name: carhero_mysql
    restart: always
    environment:
      MYSQL_DATABASE: db
      MYSQL_USER: user
      MYSQL_PASSWORD: 12345?
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: carhero_phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    depends_on:
      - db

volumes:
  db_data:
